/***************************************************************** 
Main CSS file for PAT
/*******************************************************************
Files affected: 
Workspace.js
Display.js
Pat.js
Editor.js
********************************************************************/


/******************************************************************
Variables
1-27-25
TODO: Create project color scheme
******************************************************************/

/*****************************************************************
General Properties
1-27-25
*****************************************************************/

div {
  border: 1px red solid;
}

/***************************************************************
Navbar
1-27-25
****************************************************************/

/***************************************************************
Workspace - Component 1
1-27-25
****************************************************************/

div {
  display: flex;

}

.workspace_container {
  height: fit-content;
  border: green solid 1px;
}

.pat_container {
  display: block;
}

#container {
  width: 50%;
  height: 80vh;
  margin: 5px;
}


/***************************************************************
Display - Component 2
1-27-25
****************************************************************/

/***************************************************************
Pat - Component 3
1-27-25
****************************************************************/

/***************************************************************
Editor - Component 4
1-27-25
****************************************************************/





