/***************************************************************** 
Main CSS file for PAT
/*******************************************************************
Files affected: 
Workspace.js
Display.js
Pat.js
Editor.js
********************************************************************/


/******************************************************************
General Properties
2-17-25
******************************************************************/
:root {
  /* PROJECT THEME COLORS*/
  --main-bg-color: #2D3250;
  --secondary-bg-color: #424769;
  --tertiary-bg-color: #7077A1;
  --highlight-color: #5F76FE;
  --navbar: #1b1b1b;
  --button: #161616;
  --button-hover: #242424;
  /* CUSTOM SCROLLBAR*/
  --scrollbar-width: 8px;
  --scrollbar-track-color: transparent;
  --scrollbar-thumb-color: var(--tertiary-bg-color);
  --scrollbar-thumb-hover-color: var(---highlight-color);
}



/* Apply to all scrollable elements */
* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

/* WebKit-based Browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}


/*****************************************************************
General Properties
1-29-25
*****************************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/***************************************************************
Navbar
1-27-25
****************************************************************/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 5vh;
  background-color: var(--main-bg-color);
}

/***************************************************************
Workspace - Component 1
1-29-25
****************************************************************/



.workspace_wrapper {
  padding-top: 5vh;
  margin: 2px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99.6vh;
  
}

.workspace_container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 10px;
  color: white;
  background-color: var(--secondary-bg-color);
  overflow: hidden;
  z-index: 1;
  border-radius: 10px;
}

.content_container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  border-right: 3px var(--tertiary-bg-color) solid;
}

.display_container,
.pat_container {
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;
    overflow: auto;
}

.workspace_glow {
  position: absolute;
  inset: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.workspace_glow::before {
  content: '';
  position: absolute;
  inset: 0px;
  width: 100%;
  background-image: conic-gradient(from var(--angle), purple, blue, cyan, transparent) ;
  z-index: 0;
  border-radius: 10px;
  filter: blur(0.8rem);
  opacity: 0.2;
  animation: 5s spin linear infinite;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

/***************************************************************
Display - Component 2
1-29-25
****************************************************************/

.display_wrapper {
  display: block;
}

.display_content {
  margin: 5px;
}


.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
  width: 100%;
  background-color: var(--tertiary-bg-color);
  
}

.slider_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 50%;
  height: 80%;
  margin-left: auto;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  cursor: row-resize;
  user-select: none;
}

.slider_button > div {
  height: 2px;
  background-color: white;
  border-radius: 5px;
}

.slider_button > div:nth-child(1){
  width: 80%;
}

.slider_button > div:nth-child(2){
  width: 60%;
}

.slider_button > div:nth-child(3){
  width: 40%;
}

.slider_collapse {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: 10px;
  height: fit-content;
  width: fit-content;
  background-color: #e7e7e7;
  cursor: pointer;
  border: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
}

.slider_collapse:hover {
  background-color: white;
}

.slider_collapse_button {
  padding: 1px;
  font-size: 1.8rem;
  color: var(--button);
}

.slider_collapse_button:hover {
  color: var(--button-hover);
}

.animate-height {
  transition: height 0.3s ease-in-out;
}


.slider_collapse_button {
    transition: transform 0.3s ease-in-out; /* Animation for collapse button */
}

.slider_collapse_button.rotate {
    transform: rotate(180deg); /* Rotate button when expanded */
}


/***************************************************************
Pat - Component 3
1-27-25
****************************************************************/

.pat_container {
  width: 100%;
  height: 100%;
}

.pat_container h2 {
  position: relative;
  left: 1%;
  top: 0.5%;
  color: grey;
  opacity: 0.25;
  z-index: 0;
  pointer-events: none;
}

.pat_content,
.chat_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.chat_container {
  justify-content: center;
  align-items: center;
  background-color: #EAEDFD;
  justify-content: space-between;
}

.chat_content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  max-height: fit-content;
  padding: 10px;
  background-color: transparent;
  overflow-y: auto;
}

.input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  margin: auto 10px 0;
  background-color: black;
}

.input_main {
  flex: 1;
  display: flex;
  align-items: center;
  width: 90%;
  max-height: 30px;
  padding: 8px;
  margin: 5px;
  font-size: 1.8rem;
  background-color: white;
  border-radius: 10px;
  color: black;
  border: none;
  outline: none;
}

.regenerate_button,
.send_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  height: fit-content;
  width: fit-content;
  border-radius: 20px;
  background-color: #e7e7e7;
  cursor: pointer;
}

.chat_button {
  fill: black;
  font-size: 2rem;
  padding: 2px;
}


.chat_button:hover {
  fill: black;
  transition: 0.5s;
}

#regenerate_button {
  fill: white;
  font-size: 1.5rem;
  margin: 5px;
}

.regenerate_button_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  margin: 2px;
  border-radius: 20px;
  background-color: black;
}

.message {
  position: relative;
  z-index: 1;
  padding: 10px 15px;
  margin: 5px 10px;
  border-radius: 8px;
  max-width: 70%;
  word-wrap: break-word;
  font-size: 1rem;
  color: black;
}

.message.user {
  color: white;
  background-color: blue;
  align-self: flex-end;
  text-align: right;
  border-radius: 20px 20px 0px 20px;
}

.message.ai {
  background-color: white;
  align-self: flex-start;
  text-align: left;
  border-radius: 20px 20px 20px 0px;
}


/***************************************************************
Editor - Component 4
1-27-25
****************************************************************/

.editor_container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.editor_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.sandbox_container {
  flex: 6;
  font-family: 'Fira Code', monospace;
  display: flex;
  width: 100%;
}

.editor_button_container {
  flex: 1;
  width: 100%;
  background-color: var(--tertiary-bg-color);
  height: 10px;
}

.editor_results {
  flex: 3;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;
  background-color: var(--main-bg-color);
}

.editor_sandbox {
  height: 100%;
  width: 100%;
}


