/***************************************************************** 
Main CSS file for PAT
/*******************************************************************
Files affected: 
Workspace.js
Display.js
Pat.js
Editor.js
********************************************************************/


/******************************************************************
Variables
1-27-25
TODO: Create project color scheme
******************************************************************/
:root {
  --main-bg-color: #2D3250;
  --secondary-bg-color: #424769;
  --tertiary-bg-color: #7077A1;
  --highligh-color: #5F76FE;
}


/*****************************************************************
General Properties
1-29-25
*****************************************************************/


/***************************************************************
Navbar
1-27-25
****************************************************************/

/***************************************************************
Workspace - Component 1
1-29-25
****************************************************************/

div {
  display: flex;
}

.workspace_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.workspace_container {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  height: 100%;
  width: 100%;
  color: white;
  background-color: var(--secondary-bg-color);
  border-top: 10px var(--tertiary-bg-color) solid;
  border-left: 1px var(--tertiary-bg-color) solid;
  border-right: 1px var(--tertiary-bg-color) solid;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

.content_container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  border-right: 3px var(--tertiary-bg-color) solid;
}

.display_container,
.pat_container {
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;
    overflow: auto;
}

.workspace_glow {
  position: absolute;
  inset: 0;
  background-color: transparent;
  z-index: 0;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.workspace_glow::before {
  content: '';
  position: absolute;
  inset: 1px;
  background-image: conic-gradient(from var(--angle), red, blue, cyan, purple, red) ;
  z-index: 0;
  border-radius: 10px;
  filter: blur(0.5rem);
  opacity: 0.2;
  animation: 10s spin linear infinite;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

/***************************************************************
Display - Component 2
1-29-25
****************************************************************/

.display_wrapper {
  display: block;
}


.slider {
  height: 30px;
  width: 100%;
  background-color: var(--tertiary-bg-color);
  cursor: row-resize;
  user-select: none;
}

/***************************************************************
Pat - Component 3
1-27-25
****************************************************************/

.pat_container {
  width: 100%;
}

.pat_container h2 {
  text-align: left;
  color: grey;
  opacity: 0.5;
}

.chat_container {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #EAEDFD;
  width: 100%;
  margin: 5px;
  border-radius: 10px;
}


.input_container {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 10px 5px 10px;
  height: 5vh;
  width: 100%;
  background-color: black;
  border-radius: 10px;

}

.input_main {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 90%;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  color: black;
}

.regenerate_button {
  margin-right: 5px;
  background-color: var(--highligh-color);
  border-radius: 10px;
}

.send_button {
  margin-left: 5px;
  background-color: var(--highligh-color);
  border-radius: 10px;
}

.send_button:hover, .regenerate_button:hover {
  background-color: blue;
  transition: 0.5s;
  cursor: pointer;
} 

.chat_button {
  fill: white;
  font-size: 1.5rem;
  padding: 5px;
}

/***************************************************************
Editor - Component 4
1-27-25
****************************************************************/

.editor_container {
  width: 50%;
}



